.slider {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .slider--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .slider--feature {
    text-align: left;
    position: absolute;
    bottom: 120px;
    left: 88px;
    width: 500px;
  }
  
  .slider--title {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .slider--text {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin: 0.5rem 0;
    letter-spacing: 3px;
    text-align: left;
    
  }
  
  .slider__btn-right,
  .slider__btn-left {
    background: transparent;
    border: none;
    outline: none;
    font-size: 4rem;
    color: #eee;
    padding: 0 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }
  
  .slider--btn {
    background: #fff;
    text-transform: uppercase;
    border: none;
    color: #444;
    border: 1px solid #444;
    outline: none;
    font-weight: 700;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  
  .slider__btn-left:hover,
  .slider__btn-right:hover {
    transform: scale(0.95);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fadeIn {
    animation: fadeIn 1s;
  }
  

  .cta__btn-container {
    position: absolute;
    top: 85%;
    left: 7%;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
   
  }
  .cta__btn {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
  .cta__btn-container a:first-child {
    background-color: #c1121f;
    color: #fff;
  }
  .cta__btn-container a:first-child:hover {
    background-color: #780000;
    color: #fff;
  }
  
  
  
  .cta__btn-container a:last-child {
    border: 1px solid #c1121f;
    background-color: transparent;
    color: #c1121f;
  }
  .cta__btn-container a:last-child:hover {
    background-color: #780000;
    border: 1px solid #780000;
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    .slider--feature {
      width: 100vw;
      text-align: center;
      position: absolute;
      bottom: 130px;
      left: 0;
      padding: 10px;
    }
    .cta__btn-container {
      width: 100vw;
      position: absolute;
      top: 85%;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      /* column-gap: 20px; */
      
    }
    .slider--text {
      text-align: center;
    }
    .cta__btn {
      width: 90%;
      margin: 0 auto 5px auto;
      background: green;
    }
    .cta__btn a:last-child {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 799px) {
    
    .wwd {
      display: none !important;
    }
  }