:root {
  --theme-color: #c1121f;
  /*#ee3364: #c1121f */
}

/*===== Primary Color =====*/

/*===== Background Color =====*/
.thm-bg,
.thm-layer:before,
.thm-btn,
.video-pres-inner > a,
.fact-box:hover > i,
.post-cat > a:hover,
.post-cat > a:focus,
.port-thumb2 > a:hover,
.port-thumb2 > a:focus,
.slick-slider button.slick-arrow:hover,
.slick-slider button.slick-arrow:focus,
.gray-bg2 .slick-slider > button.slick-arrow:hover,
.gray-bg2 .slick-slider > button.slick-arrow:focus,
.port-info4 > a:hover,
.port-info4 > a:focus,
.port-bg1 .port-info4 > a:hover,
.port-bg1 .port-info4 > a:focus,
.port-bg2 .port-info4 > a:hover,
.port-bg2 .port-info4 > a:focus,
.port-bg3 .port-info4 > a:hover,
.port-bg3 .port-info4 > a:focus,
.list-style1 > li::before,
.one-page-nav > li::before, 
.one-page-nav > li::after,
.one-page-nav > li.current > a, 
.one-page-nav > li:hover > a,
.one-page-nav > li.current > a::before, 
.one-page-nav > li:hover > a::before,
.srv-info4 > a:hover,
.srv-info4 > a:focus,
.port-info3 > a,
.port-info5 > a:hover,
.port-info5 > a:focus,
.about-mckp4 > a:hover,
.about-mckp4 > a:focus,
.menu-btns > a,
.search-cls-btn:hover,
.menu-cls-btn:hover,
.search-cls-btn:focus,
.menu-cls-btn:focus,
.menu-wrap2 > ul li:hover > a:before,
.menu-wrap2 > ul li.active > a:before,
.menu-wrap2 > ul li a:focus:before,
.pagination > li a:hover,
.pagination > li a:focus,
.pagination > li.page-item.active span,
.pagination > li span,
.port-info7:before,
.port-img7 > a:before,
.coming-soon-inner2 .countdown > li:first-child:before,
.subscribe-popup-iner > span:hover,
.subscribe-popup-iner > span:focus,
.tagcloud > a:hover,
.tagcloud > a:focus,
.price-body3 > a:hover,
.price-body3 > a:focus
{
	background-color: var(--theme-color);
}

/*===== Text Color =====*/
.thm-clr,
.menu-wrap ul li:hover > a,
.menu-wrap ul li.active > a,
.menu-wrap ul li:hover > a:before,
.menu-wrap ul li.active > a:before,
.menu-wrap ul li > a:focus,
.srv-info1 > h3 a:hover,
.srv-info1 > h3 a:focus,
.pric-tabs ul.nav-tabs li a:hover,
.pric-tabs ul.nav-tabs li a:focus,
.pric-tabs ul.nav-tabs li a.active,
.price-post-info > span,
.post-info1 > h3 a:hover,
.post-info1 > h3 a:focus,
.scl2 > a:hover,
.scl2 > a:focus,
.bootom-bar p a:hover,
.bootom-bar p a:focus,
.drk-bg .scl2 > a:hover,
.drk-bg .scl2 > a:focus,
.port-info2 > h3 a:hover,
.port-info2 > h3 a:focus,
.port-info2 > span a:hover,
.port-info2 > span a:focus,
.team-info2 > h3 a:hover,
.team-info2 > h3 a:focus,
.team-box2:hover .team-info2 > span,
.scl3 > a:hover,
.scl3 > a:focus,
.post-info2 > h3 a:hover,
.post-info2 > h3 a:focus,
.port-info3 > h3 a:hover,
.port-info3 > h3 a:focus,
.port-info3 > span a:hover,
.port-info3 > span a:focus,
.team-info3 > h3 a:hover,
.team-info3 > h3 a:focus,
.port-info4 > span a:hover,
.port-info4 > span a:focus,
.port-info4 > h3 a:hover,
.port-info4 > h3 a:focus,
.post-info4 > h3 a:hover,
.post-info4 > h3 a:focus,
.srv-info4 > h3 a:hover,
.srv-info4 > h3 a:focus,
.get-info-list > li a:hover,
.get-info-list > li a:focus,
.footer2-inner > p a:hover,
.footer2-inner > p a:focus,
.footer2-inner > ul li a:hover,
.footer2-inner > ul li a:focus,
.port-info5 > span a:hover,
.port-info5 > span a:focus,
.port-info5 > h3 a:hover,
.port-info5 > h3 a:focus,
.price-post-info > a,
.twitter-list > li a:hover,
.twitter-list > li a:focus,
.cont-info-list > li a:hover,
.cont-info-list > li a:focus,
.widget > form button:hover,
.widget > form button:focus,
.bootom-bar2 > p a:hover,
.bootom-bar2 > p a:focus,
.follow-btn:hover, 
.follow-btn:focus,
.bg-color34 .fact-clr5 > h6,
.cont-info-list2 > li a:hover,
.cont-info-list2 > li a:focus,
.search-wrap > form button:hover,
.search-wrap > form button:focus,
.menu-wrap2 > ul li:hover > a,
.menu-wrap2 > ul li.active > a,
.menu-wrap2 > ul li a:focus,
.breadcrumb > li.breadcrumb-item a:hover,
.breadcrumb > li.breadcrumb-item a:focus,
.about-list > li:before,
.about-list > li a:hover,
.about-list > li a:focus,
.team-info4 > h3 a:hover,
.team-info4 > h3 a:focus,
.choos-info > ul li:before,
.gray-bg .testi-item.style2 .testi-thumb::before,
.gray-bg .testi-info-inner > h6,
.social-contact > li a:hover,
.social-contact > li a:focus,
.fltr-btns.style2 > li.active a,
.fltr-btns.style2 > li a:hover,
.fltr-btns.style2 > li a:focus,
.port-info6 > h3 a:hover,
.port-info6 > h3 a:focus,
.port-info7 > h3 a:hover,
.port-info7 > h3 a:focus,
.port-scl-inner > a:hover,
.port-scl-inner > a:focus,
.port-ord-info > span a:hover,
.port-ord-info > span a:focus,
.coming-info > p a:hover,
.coming-info > p a:focus,
.subscribe-popup-iner form button:hover,
.subscribe-popup-iner form button:focus,
.emailinfo > a:hover,
.emailinfo > a:focus,
.wdgt > ul li:hover > a,
.wdgt > ul li > a:focus,
.mini-pst-inf > span a:hover,
.mini-pst-inf > span a:focus,
.mini-pst-inf > h4 a:hover,
.mini-pst-inf > h4 a:focus,
.tags > a:hover,
.tags > a:focus,
.pst-dtl-mta > li a:hover,
.pst-dtl-mta > li a:focus,
.price-body4 > span sup,
.port-sticky-info > span
{
	color: var(--theme-color);
}

/*===== Border Color =====*/
.thm-brd-clr,
.one-page-nav > li > a::before,
.one-page-nav > li > a::before, 
.one-page-nav > li:hover > a::before,
.one-page-nav > li.current > a::after, 
.one-page-nav > li:hover > a::after,
.price-post-info > a,
.tagcloud > a:hover,
.tagcloud > a:focus
{
	border-color: var(--theme-color);
}


{
	border-top-color: var(--theme-color);
}


{
	border-bottom-color: var(--theme-color);
}


{
	border-left-color: var(--theme-color);
}


{
	border-right-color: var(--theme-color);
}